/* Importing Open Sans from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap");

/* Editing the variables here will impact most of the design on your site! */
:root {
  --accent: #222;
  --meta: #666;
  --link: #27ae60;
  --link-hover: #2ecc71;
  --background-color: #fff;
  --font-color: #000;
  --font-family: "Open Sans", sans-serif;
  --container-width: 45rem;
  --font-size: 130%;
}

/* Changing anything below this point isn't required, but I encourage you to poke around! */

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
}

.header {
  
}

.footer {
  margin: 0rem;
  margin-top: 4rem;
  clear: both;
}

.content {
  clear: both;
  margin: 1rem 0;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
}

#prev {
  float: left;
  margin: 2rem 0;
}

#next {
  float: right;
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--accent);
  font-weight: 800;
  margin-bottom: 0;
}

blockquote {
  border-left: 3px solid var(--link);
  padding-left: 1rem;
  color: var(--meta);
}

img,
iframe {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

form {
  clear: both;
  margin: 1rem 0;
}

input {
  font-size: 1rem;
  min-width: 50%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
  border-radius: 1rem;
  border: 3px solid var(--background-color);
  transition: all 0.2s ease;
}

button:hover {
  border: 3px solid var(--link-hover);
}

#search-submit {
  border-radius: 50%;
}

pre code {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
  overflow-x: auto;
  padding: 1.5rem 1rem;
}

code {
  font-family: monospace;
  font-size: 1.15rem;
  background: #efefef;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0rem;
}

a,
a:visited {
  color: var(--link) !important;
}

a:hover,
a:active {
  color: var(--link-hover) !important;
}

li {
  line-height: 2rem;
}

ul.post-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 2rem 0;
}

ul.post-list li {
  margin-bottom: 1.5rem;
  content-visibility: auto;
  line-height: 1.5rem;
}

ul.post-list li a {
  font-weight: 800;
  font-size: 1.25rem !important;
  line-height: 1.5rem;
}

.meta {
  display: block;
  clear: both;
  color: var(--meta);
  font-weight: 400;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

ul.nav {
  overflow: auto;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  margin: 0;
  padding-right: 1rem;
  list-style-type: none;
}
